.heroContent {
    padding: 4rem;
    background-color: #282D35;
    background-image: url("./reactjs-icon\ 2.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 90%;
}

h2 {
    margin: 0;
    font-family: "inter",sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

ul {
    margin: 0;
    padding-left: 4rem;
}

ul li {
    /* list-style: none; */
    font-family: "inter",sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    margin-block: 0.7rem;
}

/* ul li::before {
    content: "\2022"; 
    color: #61DAFB; 
    font-weight: bold; 
    font-size: 1.5rem;
    display: inline-block; 
    width: 2rem; 
    margin-left: -2rem; 
  } */

ul li::marker{
    font-size: 1.5rem;
    color: #61DAFB;
}  